* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-image: url(/images/pexels-rahul-716398.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(53, 49, 73, 0.952);
}

.container {
    width: 100%;
    height: 800px;
    margin: 0rem, ;

}

#title1 {
    width: 50%;
    margin: 1em 0em 3rem 10em;
    font-family: roboto;
    font-size: 3rem;
    color: whitesmoke;
}

.quotes {
    width: 550px;
    height: 300px;
    background-color: rgba(245, 245, 220, 0.849);
    border-radius: 2.5%;
    margin: auto;
    padding: 2em;
    font-family: roboto;
    font-weight: 700;
    text-align: center;
    box-shadow: 0px 0px 25px rgb(167, 161, 161);
}

.texte {
    font-family: Expletus Sans;
    font-weight: 100;
    margin: 3rem 2rem 1rem 2rem;
    font-size: 20px;
}

.name {
    font-size: 13px;
    margin: 1rem 2rem 1rem 15rem;
    color: rgba(168, 166, 51, 0.952);

}

#clicking {
    margin: 1.5rem 2rem 1rem 2rem;
    width: 150px;
    height: 50px;
    border: none;
    background-color: whitesmoke;
    box-shadow: 0 0 45px rgb(71, 71, 71);
    border-radius: 2.5%;
    font-family: Expletus Sans;
    font-size: 15px;
    transition: 1s;
    color: black;

}

#clicking:hover {
    transition: 1s;
    cursor: pointer;
    margin: 1.5rem 2rem 1rem 2rem;
    width: 150px;
    height: 50px;
    border: none;
    background-color: rgba(53, 49, 73, 0.952);
    box-shadow: 0 0 45px rgb(54, 65, 124);
    border-radius: 2.5%;
    color: whitesmoke;
    font-family: Expletus Sans;
    font-size: 15px;
}